.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-blue);
  font-family: "BIOS";
  color: var(--main-green);
}

.section-heading {
  font-size: max(25px, 3vw);
  letter-spacing: 10px;
}

.items {
  font-size: max(12px, 1.5vw);
}
