.container-fluid {
  height: 100vh;
  padding: 0;
  background-color: var(--main-blue);
}

.box-x {
  box-sizing: border-box;
  width: 20em;
  height: 9em;
  animation: x 5s linear infinite alternate;
  font-size: clamp(12px, 4vw, 3vh);
}

.box-y {
  font-family: "BIOS";
  color: var(--main-green);
  text-align: center;
  box-sizing: border-box;
  width: 20em;
  height: 9em;
  animation: y 3s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 20em));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 9em));
  }
}
