/* ---------------------------------------------------------------------------------------------------- */
/*  "transition: 0s" sets the animation time of the navbar collapsing to none, so it's instantaneous    */
/*  "min-height" & "min-width" set the size of expanded navbar to the size of the screen (full screen)  */
/* ---------------------------------------------------------------------------------------------------- */
.collapse-custom {
  transition: 0s ease;
  min-height: 100vh;
  min-width: 100vw;
  background-color: red;
}

.navbar-toggler-icon {
  background-image: url("/assets/images/hamburger-menu-icon.svg");
  width: 90px;
  height: 90px;
}

.nav-link {
  font-size: 50px;
  margin-right: 20px;
  font-family: "BIOS";
}
