<a data-toggle="modal" data-target="#navigationModal">
  <img class="menu-btn-icon" src="/assets/images/hamburger-menu-icon.svg" />
</a>

<div
  class="modal"
  id="navigationModal"
  tabindex="0"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: 0"></div>
      <div class="modal-body">
        <ul>
          <li>ABOUT ME</li>
          <li>SERVICES</li>
          <li>PROJECTS</li>
          <li>CONTACTS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
