<a data-bs-target="#navigationModal" (click)="closeModal()">
  <img
    *ngIf="modalIsHidden; else modalIsShown"
    class="menu-btn-icon"
    src="/assets/images/hamburger-menu-icon.svg"
  />
  <ng-template #modalIsShown>
    <img class="menu-btn-icon" src="/assets/images//X-menu-icon.svg" />
  </ng-template>
</a>

<div class="modal" id="navigationModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <ul>
          <li>ABOUT ME</li>
          <li>SERVICES</li>
          <li>PROJECTS</li>
          <li>CONTACTS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
