/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "BIOS";
  src: url("/assets/fonts/IBM_BIOS.woff") format("woff");
}

html {
  overflow: hidden;
}

* {
  cursor: none !important;
}
