span {
  font-family: "BIOS";
  font-size: 7vw;
  color: var(--main-green);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.container-fluid {
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
